In [56]:
def returnPaths(R):
    """根据路由矩阵还原路径"""
    def parse(i, j):
        """递归解析i,j顶点最短路径"""
        p = R[i, j]
        if p == 0:
            path = []
        else:
            path = [p]
            left = parse(i, p - 1)
            right = parse(p - 1, j)
            path.extend(right)
            for num in left[-1::-1]:
                path.insert(0, num)
        return path

    n, n = np.shape(R)
    paths = [[] for i in range(n)]
    for i in range(n):
        for j in range(n):
            paths[i].append(parse(i, j))
    return paths

In [57]:
def Floyd(G):
    """Floyd算法求所有顶点间的最短路径"""

    # 初始化矩阵
    distances = nx.to_numpy_matrix(G)
    n, n = np.shape(distances)
    distances[distances == 0] = np.inf
    row, col = np.diag_indices_from(distances)
    distances[row, col] = 0
    R = np.zeros((n, n), dtype=int)

    # 插点更新
    for k in range(n):
        for i in range(n):
            for j in range(n):
                if distances[i, k] + distances[k, j] < distances[i, j]:
                    distances[i, j] = distances[i, k] + distances[k, j]
                    R[i, j] = k + 1

    # 复原路径
    paths = returnPaths(R)

    # 路径添加起点和终点
    for i in range(n):
        for j in range(n):
            if i != j:
                paths[i][j].append(j + 1)
                paths[i][j].insert(0, i + 1)
            else:
                paths[i][j] = [i + 1]
    return distances, paths

In [66]:
# 导库
import networkx as nx
import numpy as np
import pandas as pd

# 输入边和权
edges = [(1, 2, 2), (1, 3, 8), (1, 4, 1), (2, 3, 6), (2, 5, 1), (3, 4, 7),
         (3, 5, 5), (3, 6, 1), (3, 7, 2), (4, 7, 9), (5, 6, 3), (5, 8, 2),
         (5, 9, 9), (6, 7, 4), (6, 9, 6), (7, 9, 3), (7, 10, 1), (8, 9, 7),
         (8, 11, 9), (9, 10, 1), (9, 11, 2), (10, 11, 4)]

# 创建空图并添加顶点和边权
G = nx.Graph()
G.add_weighted_edges_from(edges)

# Floyd算法
distances, paths = Floyd(G)

n = G.number_of_nodes()

In [67]:
d_df = pd.DataFrame(distances, index=range(1, n + 1), columns=range(1, n + 1))
d_df

      1     2    3     4     5    6    7    8     9     10    11
1    0.0   2.0  7.0   1.0   3.0  6.0  9.0  5.0  11.0  10.0  13.0
2    2.0   0.0  5.0   3.0   1.0  4.0  7.0  3.0   9.0   8.0  11.0
3    7.0   5.0  0.0   7.0   4.0  1.0  2.0  6.0   4.0   3.0   6.0
4    1.0   3.0  7.0   0.0   4.0  7.0  9.0  6.0  11.0  10.0  13.0
5    3.0   1.0  4.0   4.0   0.0  3.0  6.0  2.0   8.0   7.0  10.0
6    6.0   4.0  1.0   7.0   3.0  0.0  3.0  5.0   5.0   4.0   7.0
7    9.0   7.0  2.0   9.0   6.0  3.0  0.0  8.0   2.0   1.0   4.0
8    5.0   3.0  6.0   6.0   2.0  5.0  8.0  0.0   7.0   8.0   9.0
9   11.0   9.0  4.0  11.0   8.0  5.0  2.0  7.0   0.0   1.0   2.0
10  10.0   8.0  3.0  10.0   7.0  4.0  1.0  8.0   1.0   0.0   3.0
11  13.0  11.0  6.0  13.0  10.0  7.0  4.0  9.0   2.0   3.0   0.0

In [68]:
p_df = pd.DataFrame(paths, index=range(1, n + 1), columns=range(1, n + 1))
p_df

,1,2,3,4,5,6,7,8,9,10,11
1,[1],"[1, 2]","[1, 2, 5, 6, 3]","[1, 4]","[1, 2, 5]","[1, 2, 5, 6]","[1, 2, 5, 6, 3, 7]","[1, 2, 5, 8]","[1, 2, 5, 6, 3, 7, 10, 9]","[1, 2, 5, 6, 3, 7, 10]","[1, 2, 5, 6, 3, 7, 10, 9, 11]"
2,"[2, 1]",[2],"[2, 5, 6, 3]","[2, 1, 4]","[2, 5]","[2, 5, 6]","[2, 5, 6, 3, 7]","[2, 5, 8]","[2, 5, 6, 3, 7, 10, 9]","[2, 5, 6, 3, 7, 10]","[2, 5, 6, 3, 7, 10, 9, 11]"
3,"[3, 6, 5, 2, 1]","[3, 6, 5, 2]",[3],"[3, 4]","[3, 6, 5]","[3, 6]","[3, 7]","[3, 6, 5, 8]","[3, 7, 10, 9]","[3, 7, 10]","[3, 7, 10, 9, 11]"
4,"[4, 1]","[4, 1, 2]","[4, 3]",[4],"[4, 1, 2, 5]","[4, 1, 2, 5, 6]","[4, 7]","[4, 1, 2, 5, 8]","[4, 7, 10, 9]","[4, 7, 10]","[4, 7, 10, 9, 11]"
5,"[5, 2, 1]","[5, 2]","[5, 6, 3]","[5, 2, 1, 4]",[5],"[5, 6]","[5, 6, 3, 7]","[5, 8]","[5, 6, 3, 7, 10, 9]","[5, 6, 3, 7, 10]","[5, 6, 3, 7, 10, 9, 11]"
6,"[6, 5, 2, 1]","[6, 5, 2]","[6, 3]","[6, 5, 2, 1, 4]","[6, 5]",[6],"[6, 3, 7]","[6, 5, 8]","[6, 3, 7, 10, 9]","[6, 3, 7, 10]","[6, 3, 7, 10, 9, 11]"
7,"[7, 3, 6, 5, 2, 1]","[7, 3, 6, 5, 2]","[7, 3]","[7, 4]","[7, 3, 6, 5]","[7, 3, 6]",[7],"[7, 3, 6, 5, 8]","[7, 10, 9]","[7, 10]","[7, 10, 9, 11]"
8,"[8, 5, 2, 1]","[8, 5, 2]","[8, 5, 6, 3]","[8, 5, 2, 1, 4]","[8, 5]","[8, 5, 6]","[8, 5, 6, 3, 7]",[8],"[8, 9]","[8, 9, 10]","[8, 11]"
9,"[9, 10, 7, 3, 6, 5, 2, 1]","[9, 10, 7, 3, 6, 5, 2]","[9, 10, 7, 3]","[9, 10, 7, 4]","[9, 10, 7, 3, 6, 5]","[9, 10, 7, 3, 6]","[9, 10, 7]","[9, 8]",[9],"[9, 10]","[9, 11]"
10,"[10, 7, 3, 6, 5, 2, 1]","[10, 7, 3, 6, 5, 2]","[10, 7, 3]","[10, 7, 4]","[10, 7, 3, 6, 5]","[10, 7, 3, 6]","[10, 7]","[10, 9, 8]","[10, 9]",[10],"[10, 9, 11]"
11,"[11, 9, 10, 7, 3, 6, 5, 2, 1]","[11, 9, 10, 7, 3, 6, 5, 2]","[11, 9, 10, 7, 3]","[11, 9, 10, 7, 4]","[11, 9, 10, 7, 3, 6, 5]","[11, 9, 10, 7, 3, 6]","[11, 9, 10, 7]","[11, 8]","[11, 9]","[11, 9, 10]",[11]